#home h1{
    color: black;
    text-align:center;
    
}


#home p{
    color: black;
    font-size: 0.8rem;
    text-align:center;
    
}
#services{
    margin: 50px;
    display: block;
}
#services .box{ 
    /* border: 2px solid ; */
    padding: 34px;
    margin: 25px 6px;
    border-radius: 28px;
    background: #f8f9fa;
    margin-bottom: 20px;
    display: flex;
    color: black;
}

#services .box img{ 
    height: 150px;
    margin: auto;
    width: auto;
    margin-right: 50px;
    
 }
 #services .box p{
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

 .h-primary{
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: center;
    font-size: 3.0rem;
    padding: 12px;
    color: black;
    font-weight: 900;
}


.h-secondary{
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.3rem;
    padding: 1px;
}